.detail-layout {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.detail-layout .detail-contain {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll;
}
.detail-layout .detail-contain header {
  width: 100%;
  height: p2r(88);
  line-height: p2r(88);
  border-bottom: 1px solid #F0F0F0;
}
.detail-layout .detail-contain header a {
  height: 100%;
  line-height: p2r(88);
  padding-top: 0px;
  color: #20CE9C;
  font-size: p2r(34);
}
.detail-layout .detail-contain header a:last-child {
  float: right;
  padding-right: p2r(20);
}
.detail-layout .detail-contain header h1 {
  height: 100%;
  font-size: p2r(34);
  line-height: p2r(88);
}
.detail-layout .detail-contain header .mui-bar .mui-icon {
  opacity: 1;
  font-size: p2r(150);
}
.detail-layout .detail-contain main .detail-main-img {
  background-color: white;
  padding-bottom: p2r(30);
}
.detail-layout .detail-contain main .detail-main-img img {
  width: 100%;
  height: p2r(480);
}
.detail-layout .detail-contain main .detail-main-img .detail-describe {
  margin: 0 p2r(30);
}
.detail-layout .detail-contain main .detail-main-img .detail-describe .describe {
  color: #333333;
  line-height: 50px;
}
.detail-layout .detail-contain main .detail-main-img .detail-describe .describe .sel-icon {
  display: inline-block;
  background: url("../images/ziying@2x.png") no-repeat;
  width: p2r(113);
  height: p2r(36);
  position: relative;
  top: p2r(8);
  border-radius: p2r(4);
  background-size: p2r(113) p2r(36);
}
.detail-layout .detail-contain main .detail-main-img .detail-describe .describe span {
  font-size: p2r(32);
}
.detail-layout .detail-contain main .detail-main-img .detail-describe .guidePrice {
  font-size: p2r(26);
  color: #999999;
  line-height: p2r(50);
}
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle {
  width: p2r(688);
  height: p2r(140);
  margin: 0 auto;
  margin-top: p2r(30);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background-color: #f3f5f7;
}
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle .firstPay,
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle .monthPay,
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle .expectCount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle .firstPay p,
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle .monthPay p,
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle .expectCount p {
  margin: 0;
}
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle .firstPay p:nth-of-type(1),
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle .monthPay p:nth-of-type(1),
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle .expectCount p:nth-of-type(1) {
  font-size: p2r(26);
  color: #666666;
  line-height: p2r(30);
}
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle .firstPay p:nth-of-type(2),
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle .monthPay p:nth-of-type(2),
.detail-layout .detail-contain main .detail-main-img .detail-describe .detail-payStyle .expectCount p:nth-of-type(2) {
  font-size: p2r(34);
  color: #ff6156;
  padding-top: p2r(22);
}
.detail-layout .detail-contain main .detail-main-img .detail-describe .discounts {
  margin-top: p2r(20);
  margin-bottom: p2r(32);
}
.detail-layout .detail-contain main .detail-main-img .detail-describe .discounts .purchaseTax,
.detail-layout .detail-contain main .detail-main-img .detail-describe .discounts .oneYuarInsurance {
  padding: p2r(10);
  height: p2r(44);
  background: #20ce9c;
  border-radius: p2r(4);
  font-size: p2r(24);
  color: white;
  line-height: p2r(50);
}
.detail-layout .detail-contain main .detail-main-img .tsetQualification {
  width: 100%;
  height: p2r(88);
  line-height: p2r(88);
  padding: 0 p2r(30);
  padding-bottom: p2r(30);
  background: rgba(32, 206, 156, 0.3);
}
.detail-layout .detail-contain main .detail-main-img .tsetQualification span {
  font-size: p2r(30);
  color: #20ce9c;
}
.detail-layout .detail-contain main .detail-main-img .tsetQualification span .info-icon {
  position: relative;
  top: p2r(4);
}
.detail-layout .detail-contain main .detail-buyCar-explain,
.detail-layout .detail-contain main .detail-buyCar-option,
.detail-layout .detail-contain main .detail-buyCar-lightspot, .detail-layout .detail-contain main .detail-buyCar-fourStep, .detail-layout .detail-contain main .detail-buyCar-illustrate {
  margin-top: p2r(20);
  width: 100%;
  background-color: white;
}
.detail-layout .detail-contain main .detail-buyCar-explain > P,
.detail-layout .detail-contain main .detail-buyCar-option > P,
.detail-layout .detail-contain main .detail-buyCar-lightspot > P, .detail-layout .detail-contain main .detail-buyCar-fourStep > P, .detail-layout .detail-contain main .detail-buyCar-illustrate > P {
  padding: p2r(40) 0 p2r(10) 0;
}
.detail-layout .detail-contain main .detail-buyCar-explain > P span,
.detail-layout .detail-contain main .detail-buyCar-option > P span,
.detail-layout .detail-contain main .detail-buyCar-lightspot > P span, .detail-layout .detail-contain main .detail-buyCar-fourStep > P span, .detail-layout .detail-contain main .detail-buyCar-illustrate > P span {
  margin-left: p2r(15);
  padding-left: p2r(15);
  font-size: p2r(32);
  color: #333333;
  border-left: p2r(8) solid #20CE9C;
}
.detail-layout .detail-contain main .detail-buyCar-explain .buyCartAdvantage {
  margin-top: p2r(50);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.detail-layout .detail-contain main .detail-buyCar-explain .buyCartAdvantage div.Style {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: p2r(20);
}
.detail-layout .detail-contain main .detail-buyCar-explain .buyCartAdvantage div.Style span {
  font-size: p2r(22);
  display: inline-block;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: p2r(6);
}
.detail-layout .detail-contain main .detail-buyCar-explain .buyCartAdvantage div.Style span:nth-of-type(1) {
  width: p2r(216);
  height: p2r(88);
  line-height: p2r(88);
  color: white;
  background-color: #20ce9c;
}
.detail-layout .detail-contain main .detail-buyCar-explain .buyCartAdvantage div.Style span:nth-of-type(2) {
  width: p2r(98);
  height: p2r(88);
}
.detail-layout .detail-contain main .detail-buyCar-explain .buyCartAdvantage div.Style span:nth-of-type(3) {
  width: p2r(216);
  height: p2r(88);
  background: #f3f5f7;
}
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zero-center {
  display: inline-block;
  width: p2r(98);
}
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zeroBuy-left-1,
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zeroBuy-right-1,
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zero-center {
  display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zeroBuy-left-1 p,
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zeroBuy-right-1 p,
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zero-center p {
  width: p2r(300);
}
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zeroBuy-left-1 p,
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zeroBuy-right-1 p {
  text-align: right;
  font-size: p2r(20);
  color: #666666;
  line-height: p2r(30);
}
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zeroBuy-left-1 p:nth-of-type(1),
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zeroBuy-right-1 p:nth-of-type(1) {
  font-size: p2r(28);
  color: #20ce9c;
  line-height: p2r(20);
  padding-top: p2r(20);
  padding-bottom: p2r(10);
}
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zeroBuy-left-1 p:nth-of-type(2),
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zeroBuy-right-1 p:nth-of-type(2) {
  margin: 0;
}
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zeroBuy-right-1 p {
  text-align: left;
}
.detail-layout .detail-contain main .detail-buyCar-explain .zeroBuy .zeroBuy-right-1 p:nth-of-type(1) {
  color: #666666;
}
.detail-layout .detail-contain main .detail-buyCar-option .detail-option-explain {
  height: p2r(872);
}
.detail-layout .detail-contain main .detail-buyCar-option .detail-option-explain ul li {
  height: p2r(88);
  border-bottom: p2r(1) solid #F0F0F0;
  padding: 0 p2r(32);
}
.detail-layout .detail-contain main .detail-buyCar-option .detail-option-explain ul li span {
  display: inline-block;
  height: 100%;
  line-height: p2r(88);
  font-size: p2r(26);
}
.detail-layout .detail-contain main .detail-buyCar-option .detail-option-explain ul li .specification {
  color: #666666;
}
.detail-layout .detail-contain main .detail-buyCar-option .detail-option-explain ul li .parameter {
  color: #999999;
}
.detail-layout .detail-contain main .detail-buyCar-option .lookOverMore {
  width: p2r(688);
  height: p2r(88);
  line-height: p2r(88);
  margin: p2r(30) auto;
  text-align: center;
  background-color: #f3f5f7;
  font-size: p2r(26);
}
.detail-layout .detail-contain main .detail-buyCar-option .lookOverMore a {
  display: block;
  width: 100%;
  height: 100%;
  color: #666666;
}
.detail-layout .detail-contain main .detail-buyCar-lightspot {
  width: 100%;
}
.detail-layout .detail-contain main .detail-buyCar-lightspot .detail-lightspot {
  width: 100%;
}
.detail-layout .detail-contain main .detail-buyCar-lightspot .detail-lightspot .lightspotList {
  width: 100%;
}
.detail-layout .detail-contain main .detail-buyCar-lightspot .detail-lightspot .lightspotList .lightspot-explain {
  padding: 0 p2r(30);
}
.detail-layout .detail-contain main .detail-buyCar-lightspot .detail-lightspot .lightspotList .lightspot-explain img {
  width: 100%;
  height: p2r(480);
}
.detail-layout .detail-contain main .detail-buyCar-lightspot .detail-lightspot .lightspotList .lightspot-explain p:nth-of-type(1) {
  font-size: p2r(32);
  color: #666666;
  line-height: p2r(30);
  margin-bottom: p2r(26);
}
.detail-layout .detail-contain main .detail-buyCar-lightspot .detail-lightspot .lightspotList .lightspot-explain p:nth-of-type(2) {
  font-size: p2r(26);
  color: rgba(51, 51, 51, 0.7);
  line-height: p2r(36);
  padding-bottom: p2r(10);
}
.detail-layout .detail-contain main .detail-buyCar-fourStep {
  width: 100%;
}
.detail-layout .detail-contain main .detail-buyCar-fourStep .fourStep {
  width: 100%;
}
.detail-layout .detail-contain main .detail-buyCar-fourStep .fourStep ul {
  width: 100%;
}
.detail-layout .detail-contain main .detail-buyCar-fourStep .fourStep ul li {
  margin: 0 p2r(31);
  padding-top: p2r(40);
  border-bottom: p2r(1) solid #F0F0F0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.detail-layout .detail-contain main .detail-buyCar-fourStep .fourStep ul li i {
  max-width: p2r(80);
  width: p2r(80);
  padding: p2r(15);
  color: #20CE9C;
  font-size: p2r(65);
}
.detail-layout .detail-contain main .detail-buyCar-fourStep .fourStep ul li span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
}
.detail-layout .detail-contain main .detail-buyCar-fourStep .fourStep ul li span p {
  padding-left: p2r(20);
}
.detail-layout .detail-contain main .detail-buyCar-fourStep .fourStep ul li span p:nth-of-type(1) {
  font-size: p2r(28);
  color: #666666;
  margin: 0;
  padding-bottom: p2r(10);
}
.detail-layout .detail-contain main .detail-buyCar-fourStep .fourStep ul li span p:nth-of-type(2) {
  font-size: p2r(24);
  color: #999999;
}
.detail-layout .detail-contain main .detail-buyCar-illustrate {
  width: 100%;
}
.detail-layout .detail-contain main .detail-buyCar-illustrate .detail-illustrate {
  width: 100%;
  height: 100%;
}
.detail-layout .detail-contain main .detail-buyCar-illustrate .detail-illustrate .illustrateList {
  border-bottom: 1px solid #F0F0F0;
}
.detail-layout .detail-contain main .detail-buyCar-illustrate .detail-illustrate .illustrateList tr {
  padding-bottom: p2r(20);
}
.detail-layout .detail-contain main .detail-buyCar-illustrate .detail-illustrate .illustrateList tr td {
  padding-top: p2r(30);
}
.detail-layout .detail-contain main .detail-buyCar-illustrate .detail-illustrate .illustrateList .list {
  padding-right: p2r(20);
  padding-left: p2r(40);
  width: p2r(200);
  font-size: p2r(28);
  color: #666666;
}
.detail-layout .detail-contain main .detail-buyCar-illustrate .detail-illustrate .illustrateList .info {
  font-size: p2r(24);
  padding: p2r(20) p2r(20) p2r(20) 0;
  line-height: p2r(30);
  color: #999999;
}
.detail-layout footer {
  width: 100%;
  height: p2r(98);
}
.detail-layout footer .linkStyle {
  width: 100%;
  height: 100%;
}
.detail-layout footer .linkStyle ul {
  width: 100%;
  height: 100%;
}
.detail-layout footer .linkStyle ul li {
  width: 33.333%;
  height: 100%;
}
.detail-layout footer .linkStyle ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: p2r(98);
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
.detail-layout footer .linkStyle ul li a i {
  width: p2r(30);
  height: p2r(30);
  color: #20CE9C;
}
.detail-layout footer .linkStyle ul li:last-child {
  background-color: #20CE9C;
  color: white;
}
