@charset "UTF-8";
.city-layout {
  width: 100%;
  height: 100%;
}
.city-layout .city-contain {
  margin-top: p2r(88);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.city-layout header {
  height: p2r(88);
}
.city-layout header .dianhua {
  float: right;
  padding-right: p2r(20);
}
.city-layout header a.icon-l {
  display: inline-block;
  height: 100%;
  line-height: p2r(88);
  padding-top: 0;
  color: #20CE9C;
}
[data-dpr="1"] .city-layout header a.icon-l {
  font-size: 30px;
}
[data-dpr="2"] .city-layout header a.icon-l {
  font-size: 60px;
}
[data-dpr="3"] .city-layout header a.icon-l {
  font-size: 90px;
}
.city-layout header h1 {
  height: 100%;
  line-height: p2r(88);
}
[data-dpr="1"] .city-layout header h1 {
  font-size: 20px;
}
[data-dpr="2"] .city-layout header h1 {
  font-size: 40px;
}
[data-dpr="3"] .city-layout header h1 {
  font-size: 60px;
}

.none {
  display: none;
}

.loan_jm1 {
  width: 94%;
  margin: 0 auto;
}

.loan_jm_spa1 {
  width: 39%;
  height: 40px;
  line-height: 40px;
  font-size: 1em;
  color: #666;
  display: block;
  float: left;
}

.loan_jm_l1 {
  margin-top: 10px;
  margin-bottom: 15px;
  height: 40px;
}

.wbk_srn {
  width: 57%;
  height: 40px;
  border: 1px solid #ccc;
  background: #FFF;
  float: left;
  padding-left: 3%;
  line-height: 40px;
  color: #ADADAD;
  font-size: 1.1em;
  background-size: 45%;
  background-position: center;
  background: #fff;
}

.wbk_srn b {
  width: 30px;
  height: 40px;
  border: 1px solid #ccc;
  background: #FFF;
  float: left;
  padding-left: 3%;
  line-height: 40px;
  color: #ADADAD;
  font-size: 1.1em;
}

/*显示点击是哪个字母*/
.showLetter {
  position: fixed;
  color: #20CE9C;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: #00C7C7 1px solid;
  text-align: center;
  display: none;
}

.showLetter span {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
[data-dpr="1"] .showLetter span {
  font-size: 16px;
}
[data-dpr="2"] .showLetter span {
  font-size: 32px;
}
[data-dpr="3"] .showLetter span {
  font-size: 48px;
}

/*城市弹层*/
.container {
  width: 100%;
}
.container .locationCity {
  padding-left: p2r(20);
  width: 100%;
  height: p2r(50);
  line-height: p2r(50);
  margin-bottom: p2r(10);
  background-color: white;
}

.letter {
  width: auto;
  position: fixed;
  top: 13%;
  right: p2r(40);
  text-align: center;
}

.letter ul {
  list-style-type: none;
  padding-bottom: p2r(15);
}

.letter ul li a {
  text-decoration: none;
  color: #20CE9C;
  height: p2r(30);
}
[data-dpr="1"] .letter ul li a {
  font-size: 16px;
}
[data-dpr="2"] .letter ul li a {
  font-size: 32px;
}
[data-dpr="3"] .letter ul li a {
  font-size: 48px;
}

.letter ul li {
  height: p2r(35);
}

.city {
  width: 100%;
  overflow: hidden;
}

.city-list {
  width: 100%;
}

.city-list .city-letter {
  display: inline-block;
  padding-top: p2r(15);
  padding-bottom: p2r(5);
  border-bottom: p2r(1) solid #e8ecf1;
  width: 100%;
  padding: 0 p2r(20);
}
[data-dpr="1"] .city-list .city-letter {
  font-size: 12px;
}
[data-dpr="2"] .city-list .city-letter {
  font-size: 24px;
}
[data-dpr="3"] .city-list .city-letter {
  font-size: 36px;
}

.city-list p {
  color: #afafaf;
  width: 100%;
  height: p2r(70);
  line-height: p2r(70);
  border-bottom: 1px solid #e8ecf1;
  cursor: pointer;
  background-color: white;
  margin: 0;
  padding: 0 p2r(30);
}
[data-dpr="1"] .city-list p {
  font-size: 16px;
}
[data-dpr="2"] .city-list p {
  font-size: 32px;
}
[data-dpr="3"] .city-list p {
  font-size: 48px;
}

.UISelect {
  margin-top: p2r(5);
}
