.login-layout, .appointment-layout {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.login-layout header, .appointment-layout header {
  width: 100%;
  height: p2r(88);
  line-height: p2r(88);
  padding-left: p2r(30);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.login-layout header i::before, .appointment-layout header i::before {
  font-size: p2r(32);
  color: #20CE9C;
}
.login-layout .login-contain, .login-layout .appointment-contain, .appointment-layout .login-contain, .appointment-layout .appointment-contain {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.login-layout .login-contain .login-logo, .login-layout .login-contain .appointment-logo, .login-layout .appointment-contain .login-logo, .login-layout .appointment-contain .appointment-logo, .appointment-layout .login-contain .login-logo, .appointment-layout .login-contain .appointment-logo, .appointment-layout .appointment-contain .login-logo, .appointment-layout .appointment-contain .appointment-logo {
  width: 100%;
  height: p2r(300);
}
.login-layout .login-contain .login-logo i, .login-layout .login-contain .appointment-logo i, .login-layout .appointment-contain .login-logo i, .login-layout .appointment-contain .appointment-logo i, .appointment-layout .login-contain .login-logo i, .appointment-layout .login-contain .appointment-logo i, .appointment-layout .appointment-contain .login-logo i, .appointment-layout .appointment-contain .appointment-logo i {
  display: block;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  position: relative;
  width: p2r(120);
  height: p2r(120);
  background: url("../images/login@2x.png");
  background-size: p2r(120) p2r(120);
}
.login-layout .login-contain .tip, .login-layout .appointment-contain .tip, .appointment-layout .login-contain .tip, .appointment-layout .appointment-contain .tip {
  width: 100%;
  font-size: p2r(26);
  color: #999999;
  text-align: center;
}
.login-layout .login-contain .inputPhoneNum, .login-layout .appointment-contain .inputPhoneNum, .appointment-layout .login-contain .inputPhoneNum, .appointment-layout .appointment-contain .inputPhoneNum {
  width: p2r(688);
  height: p2r(98);
  margin: 0 auto;
  margin-top: p2r(30);
}
.login-layout .login-contain .inputPhoneNum input, .login-layout .appointment-contain .inputPhoneNum input, .appointment-layout .login-contain .inputPhoneNum input, .appointment-layout .appointment-contain .inputPhoneNum input {
  width: 100%;
  height: 100%;
  background: #f3f5f7;
  border-radius: 6px;
  font-size: p2r(28);
}
.login-layout .login-contain button, .login-layout .appointment-contain button, .appointment-layout .login-contain button, .appointment-layout .appointment-contain button {
  display: block;
  width: p2r(688);
  height: p2r(98);
  margin: 0 auto;
  margin-top: p2r(30);
  font-size: p2r(34);
  color: #ffffff;
  background-color: #20CE9C;
}
