.purchaseAgreement-layout {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.purchaseAgreement-layout .purchaseAgreement-contain {
  margin-top: p2r(88);
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll;
}
.purchaseAgreement-layout .purchaseAgreement-contain header {
  width: 100%;
  height: p2r(88);
  line-height: p2r(88);
  border-bottom: 1px solid #f0f0f0;
}
.purchaseAgreement-layout .purchaseAgreement-contain header a {
  height: 100%;
  line-height: p2r(88);
  padding-top: 0px;
  color: #20ce9c;
}
.purchaseAgreement-layout .purchaseAgreement-contain header h1 {
  height: 100%;
  font-size: p2r(34);
  line-height: p2r(88);
}
.purchaseAgreement-layout .purchaseAgreement-contain header > span.phone-icon {
  width: p2r(50);
  float: right;
}
.purchaseAgreement-layout .purchaseAgreement-contain header > span.phone-icon a:nth-of-type(1) {
  float: right;
  width: p2r(50);
  height: p2r(88);
  position: relative;
  left: p2r(-20);
  color: #20ce9c;
}
.purchaseAgreement-layout .purchaseAgreement-contain header > span.phone-icon a:nth-of-type(1) i {
  font-size: p2r(50);
}
.purchaseAgreement-layout .purchaseAgreement-contain main {
  width: 100%;
}
.purchaseAgreement-layout .purchaseAgreement-contain main > span {
  display: block;
  width: 100%;
  height: p2r(88);
  line-height: p2r(88);
  background-color: #f0f0f0;
  color: #333333;
  text-align: center;
  font-size: p2r(28);
  background-color: #f3f5f7;
}
.purchaseAgreement-layout .purchaseAgreement-contain main .personalInformation {
  width: 100%;
}
.purchaseAgreement-layout .purchaseAgreement-contain main .personalInformation ul {
  background-color: white;
  width: 100%;
}
.purchaseAgreement-layout .purchaseAgreement-contain main .personalInformation ul li {
  position: relative;
  width: 100%;
  height: p2r(88);
  line-height: p2r(88);
  font-size: p2r(28);
  border-bottom: 1px solid rgba(201, 195, 195, 0.5);
}
.purchaseAgreement-layout .purchaseAgreement-contain main .personalInformation ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #20ce9c;
}
.purchaseAgreement-layout .purchaseAgreement-contain main .personalInformation ul li a i {
  display: inline-block;
  margin-left: p2r(20);
  width: p2r(31);
  height: p2r(31);
  position: relative;
  top: p2r(5);
}
.purchaseAgreement-layout .purchaseAgreement-contain main .personalInformation ul li a > span {
  padding-left: p2r(10);
}
.purchaseAgreement-layout footer {
  width: 100%;
  height: p2r(98);
}
.purchaseAgreement-layout footer .linkStyle {
  width: 100%;
  height: 100%;
}
.purchaseAgreement-layout footer .linkStyle ul {
  width: 100%;
  height: 100%;
}
.purchaseAgreement-layout footer .linkStyle ul li {
  width: 33.333%;
  height: 100%;
}
.purchaseAgreement-layout footer .linkStyle ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: p2r(98);
}
.purchaseAgreement-layout footer .linkStyle ul li a i {
  width: p2r(30);
  height: p2r(30);
  color: #20ce9c;
}
.purchaseAgreement-layout footer .linkStyle ul li:last-child {
  background-color: #20ce9c;
  color: white;
}
