.buyCar-layout {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  font-size: p2r(16);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.buyCar-layout .buyCar-contain {
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: #F0F0F0;
  overflow-y: scroll;
}

.buyCar-layout .buyCar-contain header {
  z-index: 3;
  height: p2r(88);
  line-height: p2r(88);
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  font-size: p2r(34);
  font-family: "PingFang SC";
  color: #20ce9c;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(177, 172, 172, 0.6);
}

.buyCar-layout .buyCar-contain .conditionScreen {
  z-index: 3;
  position: fixed;
  width: 100%;
  top: p2r(88);
  height: p2r(78);
  line-height: p2r(78);
  display: flex;
  font-size: p2r(26);
  color: #666666;
  font-family: "PingFang SC";
  justify-content: space-around;
  background-color: #ffffff;
  border-bottom: 1px solid #F0F0F0;
}

.buyCar-layout .buyCar-contain .unlimited {
  width: 100%;
}

.buyCar-layout .buyCar-contain .unlimited-brand {
  display: none;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  top: p2r(166);
  border-bottom: 1px solid #F0F0F0;
  z-index: 3;
}

.buyCar-layout .buyCar-contain .unlimited-brand .unlimited-item {
  margin-top: p2r(30);
}

.buyCar-layout .buyCar-contain .unlimited-brand .unlimited-item ul {
  width: p2r(720);
  margin: 0 auto;
}

.buyCar-layout .buyCar-contain .unlimited-brand .unlimited-item ul li {
  float: left;
  width: p2r(98);
  height: p2r(120);
  margin: 0 p2r(10);
}

.buyCar-layout .buyCar-contain .unlimited-brand .unlimited-item ul li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buyCar-layout .buyCar-contain .unlimited-brand .unlimited-item ul li a i {
  text-align: center;
  line-height: p2r(40);
  width: p2r(40);
  height: p2r(40);
  margin-top: p2r(10);
}

.buyCar-layout .buyCar-contain .unlimited-brand .unlimited-item ul li a img {
  margin-top: p2r(10);
  width: p2r(40);
  height: p2r(40);
}

.buyCar-layout .buyCar-contain .unlimited-brand .unlimited-item ul li a p {
  padding-top: p2r(20);
  margin-bottom: 0;
}

.buyCar-layout .buyCar-contain .unlimited-brand .unlimited-item ul li.active {
  border: 1px solid #20CE9C;
}

.buyCar-layout .buyCar-contain .unlimited-brand .unlimited-item ul li.active a {
  color: #20CE9C;
}

.buyCar-layout .buyCar-contain .unlimited-brand .unlimited-item ul li.active p {
  color: #20CE9C;
}

.buyCar-layout .buyCar-contain .unlimited-price,
.buyCar-layout .buyCar-contain .unlimited-firstpay,
.buyCar-layout .buyCar-contain .unlimited-month {
  display: none;
}

.buyCar-layout .buyCar-contain .unlimited-firstpay,
.buyCar-layout .buyCar-contain .unlimited-price,
.buyCar-layout .buyCar-contain .unlimited-month {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  top: p2r(166);
  border-bottom: 1px solid #F0F0F0;
  z-index: 3;
}

.buyCar-layout .buyCar-contain .unlimited-firstpay .unlimited-item,
.buyCar-layout .buyCar-contain .unlimited-price .unlimited-item,
.buyCar-layout .buyCar-contain .unlimited-month .unlimited-item {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.buyCar-layout .buyCar-contain .unlimited-firstpay .unlimited-item ul,
.buyCar-layout .buyCar-contain .unlimited-price .unlimited-item ul,
.buyCar-layout .buyCar-contain .unlimited-month .unlimited-item ul {
  margin-left: p2r(25);
  width: 100%;
}

.buyCar-layout .buyCar-contain .unlimited-firstpay .unlimited-item ul li,
.buyCar-layout .buyCar-contain .unlimited-price .unlimited-item ul li,
.buyCar-layout .buyCar-contain .unlimited-month .unlimited-item ul li {
  float: left;
  margin: p2r(10);
  margin-bottom: p2r(20);
  width: p2r(216);
  height: p2r(64);
  line-height: p2r(64);
  text-align: center;
  font-size: p2r(24);
  color: #666666;
  border: 1px solid #cccccc;
}

.buyCar-layout .buyCar-contain .unlimited-firstpay .unlimited-item ul li.active,
.buyCar-layout .buyCar-contain .unlimited-price .unlimited-item ul li.active,
.buyCar-layout .buyCar-contain .unlimited-month .unlimited-item ul li.active {
  border: 1px solid #20CE9C;
  color: #20CE9C;
}

.buyCar-layout .buyCar-contain .carList {
  margin-top: p2r(166);
}

.buyCar-layout .buyCar-contain .carList .carList-item {
  background-color: #ffffff;
  width: p2r(750);
  height: p2r(280);
  margin-bottom: p2r(20);
}

.buyCar-layout .buyCar-contain .carList .carList-item .item-info {
  margin: p2r(30) p2r(32);
  display: flex;
  justify-content: space-around;
}

.buyCar-layout .buyCar-contain .carList .carList-item .item-info .item-l {
  width: p2r(296);
  height: p2r(220);
  margin-right: p2r(30);
}

.buyCar-layout .buyCar-contain .carList .carList-item .item-info .item-r {
  flex: 1;
  padding-top: p2r(10);
}

.buyCar-layout .buyCar-contain .carList .carList-item .item-info .item-r .carOptions {
  font-size: p2r(26);
  line-height: p2r(50);
  color: gray;
  padding-bottom: p2r(35);
}

.buyCar-layout .buyCar-contain .carList .carList-item .item-info .item-r .guidePrice {
  font-size: p2r(24);
  line-height: p2r(40);
}

.buyCar-layout .buyCar-contain .carList .carList-item .item-info .item-r .payStyle {
  color: #ff6156;
  font-size: p2r(24);
}

.buyCar-layout .buyCar-contain .carList .carList-item .item-info .item-r .payStyle .firstPay i {
  font-size: p2r(34);
}

.buyCar-layout .buyCar-contain .carList .carList-item .item-info .item-r .payStyle .monthPay {
  font-size: p2r(24);
  padding-right: p2r(10);
  color: #999999;
}

.mark {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
