$ytcGreen: #20CE9C;
$ytcWhite: #ffffff;
$ytcGray: #F0F0F0;
$ytcRed:rgba(255, 97, 86, 1);
@mixin font-dpr($font-size) {
    [data-dpr="1"] & {
      font-size: $font-size * 1;
    }
    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}
.buyCar-layout {
    height: 100%;
    width: 100%;
    background-color: $ytcWhite;
    @include font-dpr(12px); // line-height: p2r(20);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    .buyCar-contain {
        flex: 1;
        height: 100%;
        width: 100%;
        background-color: $ytcGray;
        overflow-y: scroll;
        header {
            z-index: 3;
            height: p2r(88);
            line-height: p2r(88);
            text-align: center;
            width: 100%;
            position: fixed;
            top: 0;
            @include font-dpr(30px);
            font-family: "PingFang SC";
            color: rgba(32, 206, 156, 1);
            background-color: $ytcWhite;
            border-bottom: 1px solid rgba(177, 172, 172, 0.6);
        }
        ;
        .conditionScreen {
            z-index: 3;
            position: fixed;
            width: 100%;
            top: p2r(88);
            height: p2r(78);
            line-height: p2r(78);
            display: flex;
            @include font-dpr(14px);
            color: rgba(102, 102, 102, 1);
            font-family: "PingFang SC";
            justify-content: space-around;
            background-color: $ytcWhite;
            border-bottom: 1px solid $ytcGray;
            li {
                i {
                    @include font-dpr(14px);
                }
                span {
                    @include font-dpr(14px);
                }
            }
        } // 不限品牌
        .unlimited {
            width: 100%;
        }
        .unlimited-brand {
            display: none;
            width: 100%;
            height: p2r(490);
            overflow-y: scroll;
            position: fixed;
            background-color: $ytcWhite;
            top: p2r(166);
            border-bottom: 1px solid $ytcGray;
            z-index: 3;
            .unlimited-item {
                width: 100%;
                margin-top: p2r(30);
                ul {
                    width: 100%;
                    margin: 0 auto;
                    li {
                        float: left;
                        width: 18%;
                        height: p2r(150);
                        margin: 0 p2r(5); // padding-bottom: p2r(46);
                        padding: p2r(5);
                        a {
                            display: block;
                            text-decoration: none;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            i {
                                text-align: center;
                                line-height: p2r(50);
                                width: p2r(50);
                                height: p2r(50);
                                margin-top: p2r(10);
                            }
                            img {
                                margin-top: p2r(10);
                                width: p2r(50);
                                height: p2r(50);
                            }
                            p {
                                padding-top: p2r(20);
                                margin-bottom: 0;
                                @include font-dpr(14px);
                            }
                        }
                    }
                    ;
                    li.active {
                        a {
                            color: $ytcGreen;
                        }
                        p {
                            color: $ytcGreen;
                        }
                        border:1px solid $ytcGreen;
                    }
                }
            }
        } 
        // 不限首付 不限车价  不限月供
        .unlimited-price,
        .unlimited-firstpay,
        .unlimited-month {
            display: none
        }

        .unlimited-firstpay,
        .unlimited-price,
        .unlimited-month {
            width: 100%;
            position: fixed;
            background-color: $ytcWhite;
            top: p2r(166);
            border-bottom: 1px solid $ytcGray;
            z-index: 3;
            .unlimited-item {
                margin: 0 auto;
                height: 100%;
                width: 100%;
                background-color: $ytcWhite;
                ul {
                    // margin-left: p2r(10);
                    width: 100%;
                    li {
                        float: left;
                        margin: p2r(20);
                        margin-bottom: p2r(10);
                        width: 26%;
                        height: p2r(64);
                        line-height: p2r(64);
                        text-align: center;
                        @include font-dpr(12px);
                        color: rgba(102, 102, 102, 1);
                        border: 1px solid rgba(204, 204, 204, 1);
                    }
                    li.active {
                        border: 1px solid $ytcGreen;
                        color: $ytcGreen;
                    }
                }
            }
        } 
        // 车型列表
        .carList {
            width: 100%;
            margin-top: p2r(166);
            .carList-item {
                background-color: $ytcWhite;
                width: 100%;
                height: p2r(210);
                padding: p2r(10);
                margin-bottom: p2r(10); // background-color: $ytcGreen;
                .item-info {
                    width: 100%;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-around;
                    // 图片
                    .item-l {
                        width: 40%;
                        height: p2r(200);
                        // margin-right: p2r(30);
                        // margin-top: p2r(30);
                    }
                    .item-r {
                        flex: 1;
                        padding-top: p2r(10);
                        padding: 0 p2r(10);
                        .carOptions {
                            span {
                                @include font-dpr(14px);
                                line-height: p2r(35);
                                color: gray;
                            }
                            height: p2r(80);
                            padding-bottom: p2r(10);
                        }
                        .guidePrice {
                            @include font-dpr(12px);
                            line-height: p2r(30);
                        }
                        .payStyle {
                            color: $ytcRed;
                            @include font-dpr(14px);
                            padding-top: p2r(15);
                            .firstPay {
                                i {
                                    @include font-dpr(12px);
                                }
                            }
                            .monthPay {
                                @include font-dpr(12px);
                                padding-right: p2r(10);
                                color: rgba(153, 153, 153, 1);
                            }
                        }
                    }
                }
            }
        }
    }
}
// 遮罩层
.mark {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .3);
}