$ytcGreen: #20CE9C;
$ytcWhite: #ffffff;
$ytcGray: #F0F0F0;
.byStages-layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .byStages-contain {
        width: 100%;
        height: 100%;
        flex: 1;
        margin-top: p2r(88);
        position: relative;
        >header {
            height: p2r(88);
            .dianhua {
                float: right;
                padding-right: p2r(20);
            }
            a {
                display: inline-block;
                height: 100%;
                line-height: p2r(88);
                padding-top: 0;
                font-size: p2r(60);
                color: $ytcGreen;
            }
            a:last-child {
                font-size: p2r(40);
                i {
                    display: block;
                    font-size: p2r(40);
                }
            }
            h1 {
                height: 100%;
                line-height: p2r(88);
                font-size: p2r(34);
            }
        }
        
        .browser {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            >p {
                width: 100%;
                height: p2r(68);
                line-height: p2r(68);
                text-align: center;
                font-size: p2r(22);
                color: rgba(102, 102, 102, 1);
                margin: 0;
            }
            /*选择地区*/
            .express-area {
                width: 100%;
                height: p2r(88);
                line-height: p2r(88);
                padding-left: p2r(30);
                border-bottom: 1px solid #ddd;
                background-color: #fff;
            }
            .express-area a {
                display: block;
            }
            .express-area dl {
                position: relative;
                color: #4d525d;
            }
            .express-area dl dt {
                position: absolute;
                top: 0;
                left: 0;
                font-size: p2r(28);
            }
            .express-area dl dd {
                padding-top: p2r(0);
                margin-left: p2r(210);
                text-align: justify;
                font-size: p2r(26);
                color:rgba(75, 73, 73,0.9);
            }
            /*选择地区弹层*/
            .express-area-box ,.bank-select {
                width: 100%;
                height: 70%;
                overflow-y: scroll;
                position: absolute;
                bottom: -200%;
                z-index: 15; 
                background-color: #fff;
                color: #4d525d;
            }
            .bank-select {
                z-index: 16; 
                height: 65%;
                overflow-y: scroll;
                .bankBox {
                    ul {
                        li {
                            float: left;
                            width: 33.33%;
                            height:p2r(88);
                            text-align: center;
                            line-height: p2r(88);
                            span {
                                font-size: p2r(28);
                                color:rgba(102,102,102,1);
                            }
                            i {
                                display: inline-block;
                                width: p2r(40);
                                height: p2r(40);
                                position: relative;
                                top: p2r(10);
                            }
                            i.gongshangyinhang{
                                background:url("../images/gh@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.nongyeyinhang{
                                background:url("../images/nh@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.jiansheyinhang{
                                background:url("../images/jh@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.zhaoshangyinhang{
                                background:url("../images/zs@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.jiaotongyinhang{
                                background:url("../images/jt@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.zhonghang{
                                background:url("../images/zh@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.pufayinhang{
                                background:url("../images/pf@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.youzhengyinhang{
                                background:url("../images/yz@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.guangdayinhang{
                                background:url("../images/gd@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.pinganyinhang{
                                background:url("../images/pn@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.minshengyinhang{
                                background:url("../images/ms@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.xingyeyinhang{
                                background:url("../images/xy@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.huaxiayinhang1{
                                background:url("../images/hx@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.guangfayinhang{
                                background:url("../images/gf@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                            i.zhongxinyinhang{
                                background:url("../images/zx@2x.png") no-repeat;
                                background-size: p2r(40) p2r(40);
                            }
                        }
                    }
                }
            }
            .express-area-box header ,.bank-select header {
                position: relative;
                border-top: 1px solid #e2e2e2;
                border-bottom: 1px solid #e2e2e2;
            }
            .express-area-box header h3 , .bank-select header h3 {
                text-align: center;
                font-size: p2r(20);
                height: p2r(44);
                line-height: p2r(44);
            }
            .express-area-box header .back,
            .express-area-box header .close ,.bank-select header .close {
                position: absolute;
                top: 0;
                width: p2r(30);
                height: p2r(30);
                top: p2r(14);
            }
            .express-area-box header .back {
                display: none;
                left: p2r(20);
                background: url("../images/back.png") no-repeat center;
                background-size: p2r(20) p2r(20);
            }
            .express-area-box header .close , .bank-select header .close  {
                right: p2r(30);
                background: url("../images/close-area.png") no-repeat center;
                background-size: p2r(40) p2r(40);
            }
            .express-area-box article .bank-select article {
                height: 100%;
                overflow-y: scroll;
            }

            .area-list  {
                margin-bottom: p2r(100);
                li {
                    border-bottom: 1px solid #e2e2e2;
                    text-align: justify;
                    font-size: p2r(20);
                    height: p2r(60);
                    line-height: p2r(60);
                    padding-left: p2r(20);
                }
            }
            /*遮罩层*/
            .city-mask {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 12;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .5);
            }
            .posionalInfo-1  {
                z-index: 11;
                ul {
                    margin-bottom: p2r(20);
                    li{
                        width: 100%;
                        height: p2r(88);
                        line-height: p2r(88);
                        background-color: $ytcWhite;
                        border-bottom: p2r(1) solid $ytcGray;
                        span {
                            width: p2r(180);
                            display: inline-block;
                            font-size:p2r(28);
                            margin-left: p2r(32);
                        }
                        input {
                            width: p2r(300);
                            font-size:p2r(26);
                            outline: none;
                            border: none;
                            padding: 0 0 0 p2r(20);
                            margin: 0;
                        }
                        button {
                            width: p2r(200);
                            height: p2r(88);
                            line-height: p2r(80);
                            font-size:p2r(26);
                            outline: none;
                            border: none;
                        }
                        button.active {
                            color: $ytcGreen;
                        }
                    }
                    .yinhang {
                        position: relative;
                        i {
                            float: right;
                            padding-right: p2r(32);
                            font-size: p2r(50);
                            // padding-top: p2r(15);
                            color: $ytcGreen;
                        }
                    }
                }
            }
            // .posionalInfo-2 {
            //     margin-top: p2r(20);
            //     .yinhang {
            //         position: relative;
            //         i {
            //             float: right;
            //             padding-right: p2r(32);
            //             font-size: p2r(50);
            //             // padding-top: p2r(15);
            //             color: $ytcGreen;
            //         }
            //     }
            // }
            .agreement {
                margin-top: p2r(30);
                button.result{
                    display: block;
                    width: p2r(668);
                    margin: 0 auto;
                    height: p2r(98);
                    background-color: $ytcGreen;
                    color: $ytcWhite;
                    font-size: p2r(32);
                    margin-top: p2r(50);
                }
                label {
                    padding-left: p2r(40);
                    input {
                        width: p2r(20);
                        height: p2r(20);
                    }
                    span {
                        font-size: p2r(24);
                        color:rgba(153,153,153,1);
                    }
                }
            }
        }
        
    }
}

