$ytcGreen: #20CE9C;
$ytcWhite: #ffffff;
$ytcGray: #F0F0F0;
@mixin font-dpr($font-size) {
    [data-dpr="1"] & {
      font-size: $font-size * 1;
    }
    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}
.city-layout {
    width: 100%;
    height: 100%;
    .city-contain {
        margin-top: p2r(88);
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    header {
        height: p2r(88);
        .dianhua {
            float: right;
            padding-right: p2r(20);
        }
        a.icon-l {
            display: inline-block;
            height: 100%;
            line-height: p2r(88);
            padding-top: 0;
            @include font-dpr(30px);
            color: $ytcGreen;
        }
        h1 {
            height: 100%;
            line-height: p2r(88);
            @include font-dpr(20px);
        }
    }
}

.none {
    display: none;
}

.loan_jm1 {
    width: 94%;
    margin: 0 auto;
}

.loan_jm_spa1 {
    width: 39%;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
    color: #666;
    display: block;
    float: left;
}

.loan_jm_l1 {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 40px;
}

.wbk_srn {
    width: 57%;
    height: 40px;
    border: 1px solid #ccc;
    background: #FFF;
    float: left;
    padding-left: 3%;
    line-height: 40px;
    color: #ADADAD;
    font-size: 1.1em;
    background-size: 45%;
    background-position: center;
    background: #fff;
}

.wbk_srn b {
    width: 30px;
    height: 40px;
    border: 1px solid #ccc;
    background: #FFF;
    float: left;
    padding-left: 3%;
    line-height: 40px;
    color: #ADADAD;
    font-size: 1.1em;
}


/*显示点击是哪个字母*/

.showLetter {
    position: fixed;
    color: $ytcGreen;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: #00C7C7 1px solid;
    text-align: center;
    display: none;
}

.showLetter span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    @include font-dpr(16px);
}


/*城市弹层*/

.container {
    width: 100%;
    .locationCity {
        padding-left: p2r(20);
        width: 100%;
        height: p2r(50);
        line-height: p2r(50);
        margin-bottom: p2r(10);
        background-color: white;
    }
}

.letter {
    width: auto;
    position: fixed;
    top: 13%;
    right: p2r(40);
    text-align: center;
}

.letter ul {
    list-style-type: none;
    padding-bottom: p2r(15);
}

.letter ul li a {
    text-decoration: none;
    color: $ytcGreen;
    @include font-dpr(16px);
    height: p2r(30);
}
.letter ul li {
    height: p2r(35);
}
.city {
    width: 100%;
    overflow: hidden;
    // padding: p2r(20) 0;
}

.city-list {
    width: 100%;
}

.city-list .city-letter {
    @include font-dpr(12px);
    display: inline-block;
    padding-top: p2r(15);
    padding-bottom: p2r(5);
    border-bottom: p2r(1) solid #e8ecf1;
    width: 100%;
    padding: 0 p2r(20);
}

.city-list p {
    @include font-dpr(16px);
    color: #afafaf;
    width: 100%;
    height: p2r(70);
    line-height: p2r(70);
    border-bottom: 1px solid #e8ecf1;
    cursor: pointer;
    background-color: white;
    margin: 0;
    padding: 0 p2r(30);
}

.UISelect {
    margin-top: p2r(5);
}