$ytcGreen: #20CE9C;
$ytcWhite: #ffffff;
$ytcGray: #F0F0F0;
@mixin font-dpr($font-size) {
    [data-dpr="1"] & {
      font-size: $font-size * 1;
    }
    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}
.setting-layout {
    width: 100%;
    height: 100%;
    background-color: $ytcGray;
    .setting-contain {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        header {
            width: 100%;
            height: p2r(88);
            text-align: center;
            border-bottom: 1px solid $ytcGray;
            a {
                height: 100%;
                float: left;
                line-height: p2r(88);
                i {
                    padding-left: p2r(30);
                    color: $ytcGreen;
                    @include font-dpr(18px);
                }
            }
            h3{
                height: 100%;
                display: inline-block;
                // text-align: center;
                line-height: p2r(88);
                @include font-dpr(20px);
                transform: translateX(p2r(-30));
                margin: 0 ;
            }
        }
        
        main {
            flex: 1;
            width: 100%;
            height: 100%;
            position: relative;        
            .settingList {
                width: 100%;
                ul.list {
                    width: 100%;
                    li {
                        height: p2r(88);
                        // line-height: p2r(60);
                        background-color: $ytcWhite;
                        width: 100%;
                        margin-bottom:p2r(30);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        span {
                            @include font-dpr(14px);
                            margin-left: p2r(30);
                        }
                        .mui-switch {
                            margin-right: p2r(30);
                            // height: p2r(50);
                            // width: p2r(88);
                            // .mui-switch-handle {
                            //     line-height: p2r(50);
                            //     top: p2r(6);
                            // }
                        }
                        // .mui-switch:before {
                        //     top: p2r(10);
                        // }
                        .mui-switch.mui-active {
                            border-color: $ytcGreen;
                            background-color: $ytcGreen;
                        }
                        .versions {
                            margin-right: p2r(30);
                        }
                    }
                }
                
                /*选择地区弹层*/
                .share-select {
                    display: none;
                    width: 100%;
                    height: 70%;
                    overflow-y: scroll;
                    position: absolute;
                    bottom: -200%;
                    z-index: 15; 
                    background-color: #fff;
                    color: #4d525d;
                    header {
                        position: relative;
                        border-top: 1px solid #e2e2e2;
                        border-bottom: 1px solid #e2e2e2;
                    }
                    header h2 {
                        text-align: center;
                        line-height: p2r(44);
                    }
                    
                    header .close  {
                        position: absolute;
                        top: 0;
                        width: p2r(30);
                        height: p2r(30);
                        top: p2r(14);
                    }
                    header .close  {
                        right: p2r(20);
                        background: url("../images/close-area.png") no-repeat center;
                        background-size: p2r(20) p2r(20);
                    }
                    article {
                        height: 100%;
                        overflow-y: scroll;
                        
                    }

                }

                .share-select {
                    z-index: 16; 
                    height: 65%;
                    overflow-y: scroll;
                    .shareBox {
                        ul.share-list {
                            li {
                                float: left;
                                width: 20%;
                                text-align: center;
                                line-height: p2r(88);
                                margin: 0 p2r(50) p2r(30) p2r(50) ;
                                span {
                                    @include font-dpr(14px);
                                    color:rgba(102,102,102,1);
                                }
                         
                                i {
                                    display:block;
                                    width: 90px;
                                    height: 90px;
                                    position: relative;
                                    top: p2r(10);
                                    left: p2r(16);
                                }
                                i.WeChatFriend{
                                    background:url("../images/weixin@2x.png") no-repeat;
                                }
                                i.friendCircle{
                                    background:url("../images/wFriend@2x.png") no-repeat;
                                }
                                i.QQfriend{
                                    background:url("../images/qq@2x.png") no-repeat;
                                }
                                i.QQZone{
                                    background:url("../images/qqZone@2x.png") no-repeat;
                                }
                                i.sinaBlog{
                                    background:url("../images/sinaBlog@2x.png") no-repeat;
                                }
                                i.copyLink{
                                    background:url("../images/copyLink@2x.png") no-repeat;
                                }
                            }
                        }
                    }
                }

            }
             // 遮罩层
            .share-mask {
                width: 100%;
                height: 100%;
                z-index: 10;
                position: absolute;
                top: 0;
                background-color: rgba(0, 0, 0, .5);
                display: none;
            }
            .outLogin {
                display: block;
                width: 90%;
                height: p2r(88);
                text-align: center;
                margin: 0 auto;
                margin-top: p2r(30);
                border-radius: p2r(6);
                background-color: #cccaca;
                @include font-dpr(20px);
            }
        }
    }
}