body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1052px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:59px;
}
#u850 {
  position:absolute;
  left:48px;
  top:24px;
  width:133px;
  height:58px;
}
#u851 {
  position:absolute;
  left:2px;
  top:21px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852 {
  position:absolute;
  left:73px;
  top:45px;
  width:70px;
  height:16px;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:2px;
}
#u854 {
  position:absolute;
  left:11px;
  top:101px;
  width:978px;
  height:1px;
}
#u855 {
  position:absolute;
  left:2px;
  top:-8px;
  width:974px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u856 {
  position:absolute;
  left:475px;
  top:45px;
  width:29px;
  height:16px;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u858 {
  position:absolute;
  left:563px;
  top:45px;
  width:57px;
  height:16px;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u860 {
  position:absolute;
  left:680px;
  top:45px;
  width:61px;
  height:16px;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u862 {
  position:absolute;
  left:800px;
  top:45px;
  width:61px;
  height:17px;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864 {
  position:absolute;
  left:204px;
  top:45px;
  width:79px;
  height:16px;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u866 {
  position:absolute;
  left:907px;
  top:45px;
  width:145px;
  height:16px;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u868 {
  position:absolute;
  left:73px;
  top:147px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:73px;
  top:202px;
  width:922px;
  height:46px;
}
#u871 {
  position:absolute;
  left:2px;
  top:15px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  position:absolute;
  left:297px;
  top:217px;
  width:57px;
  height:16px;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:449px;
  top:217px;
  width:57px;
  height:16px;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  position:absolute;
  left:593px;
  top:217px;
  width:57px;
  height:16px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:777px;
  top:217px;
  width:57px;
  height:16px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  position:absolute;
  left:928px;
  top:217px;
  width:29px;
  height:16px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  position:absolute;
  left:145px;
  top:217px;
  width:57px;
  height:16px;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884 {
  position:absolute;
  left:141px;
  top:271px;
  width:65px;
  height:16px;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  position:absolute;
  left:256px;
  top:271px;
  width:138px;
  height:16px;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  position:absolute;
  left:441px;
  top:271px;
  width:74px;
  height:17px;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:32px;
}
#u890 {
  position:absolute;
  left:563px;
  top:264px;
  width:137px;
  height:32px;
  font-size:14px;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:769px;
  top:272px;
  width:51px;
  height:17px;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:917px;
  top:272px;
  width:43px;
  height:17px;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
